<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>

    <!-- <link rel="stylesheet" href="home.css"> -->
    <link rel="stylesheet" href="/css/register.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">

</head>

<body>

    <a href="/" class="btn-flotante" title="Volver al inicio">
        <i class="fa-solid fa-house"></i>
    </a>


    <section class="card-container">
        <section class="visual-card">
            <img src="/img/forms/register.jpg" alt="img">
        </section>
        <section class="form-card">

            <p class="Title">Crear cuenta</p>
            <section class="google">
                <i class="fa-brands fa-google"></i>
                <p class="label">Usa tu gmail para registrarte</p>
            </section>

            <form action="" method="">
                <div class="input-group">
                    <div class="input-icon">
                        <i class="fa-solid fa-user"></i>
                        <input type="text" id="nombreUsuario" name="nombreUsuario" placeholder="Nombre" required />
                    </div>
                </div>

                <div class="input-group">
                    <div class="input-icon">
                        <i class="fa-solid fa-envelope"></i>
                        <input type="email" id="emailUsuario" name="emailUsuario" placeholder="Email" required />
                    </div>
                </div>

                <div class="input-group">
                    <div class="input-icon">
                        <i class="fa-solid fa-lock"></i>
                        <input type="password" id="contraseñaUsuario" name="contraseñaUsuario" placeholder="Contraseña"
                            required />
                    </div>
                </div>

                <div class="button-container">
                    <button type="submit">REGISTRARSE</button>
                </div>

                <div class="iniciar-sesion">
                    <p>¿Ya tienes una cuenta? <a href="login">Iniciar sesión</a></p>
                </div>
            </form>
        </section>
    </section>

</body>

</html>